/*
Configuration files use the same conventions for comments used by the Groovy or Java programming languages. 
Thus, use // to comment a single line or \/\* .. \*\/ to comment a block on multiple lines.

This is the main workflow configuration file
it will only contain parameters that persist across runs

The ctg.config files will overwrite the parameters specified here
but lets keep things clean!
*/


import java.time.*
Date now = new Date()

// Adding profile
profiles {
    // CTG general profile
    ctg {
        params{
            account        = null
        }
        process {
            executor       = 'slurm'
            cpus           = { 1 * task.attempt }
            time           = { 10.h * task.attempt }
            scratch        = '/tmp/'
            errorStrategy  = 'retry'
            maxRetries     = 1
        }
    }
}


// any variables in here will be available to the main nextflow workflow
env {
	MYVAR = "true"
    }


// better reports

params {
    // General directories
    project_root = "/projects/fs1/shared/Jobs/"
    pipeline_root = "/projects/fs1/shared/Yggdrasil/"
    containers = "/projects/fs1/shared/ctg-containers/"

    // Traceability for each run
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
    tracedir = "$project_root/Logs/Sequencing_Runs/"

    // Pipeline specific directories
    singleCellWorkflows = "/projects/fs1/shared/pipelines/singleCellWorkflows"

    // Singularity images
    cellranger="$params.containers/cellranger/latest/cellranger.simg"
    interops_qc="/$params.containers/ngs-tools/ngs-tools.sif"
    bclconvert_singularity = "$params.containers/bclconvert_latest.sif"
    fastqc = "$params.containers/fastqc/singularity-fastqc-0.11.0.sif"
    multiqc = "$params.containers/multiqc/latest"


    // what is this?
    templates = "/projects/fs1/shared/Yggdrasil/templates"

    // Fake params
    rawdata = "/projects/fs1/shared/Test_Data/TEST"
    dragen = false
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}
report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}
trace {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_trace.txt"
}
dag {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_dag.svg"
    dag.overwrite = true
}


//Workdir, make it temporary
workDir = "/projects/fs1/shared/Nextflow"

// containers

process {
    withName:INTEROP_QC {
        container = "file:///$params.interops_qc"
        cpus = '2'
        time = '2d'
    }
    withName:BCLCONVERT {
        container = "file:///$params.bclconvert_singularity"
        cpus = '16'
        time = '2d'
    }
    withName:FASTQC {
        container = "file:///$params.fastqc"
        cpus = '8'
        time = '2d'
    }
    withName:MULTIQC {
        container = "file:///$params.multiqc"
        cpus = '2'
        time = '1d'
    }
    withName:MKFASTQ{
        container = "$params.cellranger"
        cpus = '19'
        time = '2d'
        memory = '120 GB'
    }
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '--bind /projects/fs1/'
    runOptions = '--bind /tmp/'
}