/*
Configuration files use the same conventions for comments used by the Groovy or Java programming languages. 
Thus, use // to comment a single line or \/\* .. \*\/ to comment a block on multiple lines.

This is the main workflow configuration file
it will only contain parameters that persist across runs

The ctg.config files will overwrite the parameters specified here
but lets keep things clean!
*/


env {
    NXF_OFFLINE = true
    }

dag {
    enabled = true
    file = 'pipeline_dag.html'
}