/*
Configuration files use the same conventions for comments used by the Groovy or Java programming languages. 
Thus, use // to comment a single line or \/\* .. \*\/ to comment a block on multiple lines.

This is the main workflow configuration file
it will only contain parameters that persist across runs

The ctg.config files will overwrite the parameters specified here
but lets keep things clean!
*/


import java.time.*
Date now = new Date()


// any variables in here will be available to the main nextflow workflow
env {
	MYVAR = "true"

    }


// better reports

params {
    tracedir = "/home/mattis/outbox/nf_info"
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}
report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}
trace {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_trace.txt"
}
dag {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_dag.svg"
    dag.overwrite = true
}


//Workdir, make it temporary
workDir = "/projects/fs1/shared/Nextflow"

// Define parameters
params.project_root = "/projects/fs1/shared/Test_Jobs"
params.pipeline_root = "/projects/fs1/shared/Test_Jobs"
params.nfcore_demux = "${params.pipeline_root}/nf-core-demultiplex-1.1.0"
params.singularity_images = "${params.nfcore_demux}/singularity-images"
params.bclconvert_singularity = "${params.singularity_images}/nfcore-bclconvert-4.0.3.img"
params.templates = "/projects/fs1/shared/Yggdrasil/templates"
// FAKE PARAMS
params.rawdata = "/projects/fs1/shared/Test_Data/TEST"

// containers

process {
    withName:DEMULTIPLEX {
        container = '${params.bclconvert_singularity}'
    }
}
singularity {
    enabled = true
    autoMounts = true
}