// Adding profile
profiles {
    // CTG general profile
    ctg {
        process {
            executor      = 'slurm'
            cpus          = { 1 * task.attempt }
            time          = { 10.h * task.attempt }
            scratch       = '/tmp/'
            errorStrategy = 'retry'
            maxRetries    = 1
        }
    }
}

//Workdir, make it temporary
workDir = "/projects/fs1/shared/Nextflow"

// This was added to the nf-core-rnaseq/workflow/nextflow.config
singularity {
    enabled = true
    autoMounts = true
    runOptions = '--bind /projects/fs1/'
    runOptions = '--bind /tmp/'
}